DATABASE_URL="postgresql://neondb_owner:<pw>@ep-snowy-bar-atwoi8gf-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&connect_timeout=30"
DIRECT_URL="postgresql://neondb_owner:<pw>@ep-snowy-bar-atwoi8gf.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&connect_timeout=30"
